#text-selection-menu {
    position: absolute;
    visibility: hidden;
    
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    
    padding: 0.6em;
}

#input-text {
    width: 100%;
    resize: vertical;
    height: 15em;
}

#interlinear-view {
    word-spacing: 0.5em;
    line-height: 4em;
}

.wordPairElem {
    position: relative;
}

.sourceLangWhitespace, .sourceLangWord {
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
}

.targetLangWord {
    display: inline-block;
    position: absolute;
    top: 1.4em;
    left: 0em;
    
    font-size: 1em;
    font-weight: normal;
    
    word-spacing: normal;
    line-height: normal;
    
    user-select: none;
}