#interlinear-view {
    word-spacing: 0.5em;
    line-height: 4em;
}

.wordPairElem {
    position: relative;
}

.sourceLangWord {
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
}

.targetLangWord {
    display: inline-block;
    position: absolute;
    top: 1.4em;
    left: 0em;
    
    font-size: 1em;
    font-weight: normal;
    
    word-spacing: normal;
    line-height: normal;
    
    user-select: none;
}